$max-width: 1200px;

$transparent: rgba(0,0,0,0);
$half-transparent: rgba(0,0,0,.5);

$font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;

 // General
$max-width: 1200px;
$transparent: rgba(0,0,0,0);

// Font Families
$font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;